{% extends "template.html" %}
{% block content %}
<style type="text/css">
div {
    margin-top: 27px;
}
#serializearray, #serialize {
    background-color: #eee;
    border: 1px solid #111;
    padding: 3px;
    margin: 9px;
}
</style>

<script type="text/javascript">
     $(document).ready(function(){
      var i=1;
     $("#add_row").click(function(){
      $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='hostname"+i+"' type='text' placeholder='Hostname' class='form-control input-md'  /> </td><td><input  name='user"+i+"' type='text' placeholder='Login'  class='form-control input-md'></td><td><input  name='password"+i+"' type='text' placeholder='Password'  class='form-control input-md'></td>");
      console.log(name)
      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      i++; 
  });
     $("#delete_row").click(function(){
    	 if(i>1){
		 $("#addr"+(i-1)).html('');
		 i--;
		 }
	 });

});
</script>
<script type="text/javascript">
$(function() {
    var update = function() {
        $('#serializearray').text(        
            JSON.stringify($('form').serializeArray())
        );
        $('#serialize').text(        
            JSON.stringify($('form').serialize())
        );
    };
    update();
    $('form').change(update);
})
</script>

   <h2>SRX Software Upgrade Example </h2>
   <p> Juniper Networks</p>
   <p> Enter Device Information Below</p>


   <div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<form role="form" method="post" padding-bottom: 10px >
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							#
						</th>
						<th class="text-center">
							Hostname
						</th>
						<th class="text-center">
							Login
						</th>
						<th class="text-center">
							Password
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0'>
						<td>
						1
						</td>
						<td>
						<input type="text" name='hostname'  placeholder='Hostname' class="form-control"/>
						</td>
						<td>
						<input type="text" name='user' placeholder='Login' class="form-control"/>
						</td>
						<td>
						<input type="text" name='password' placeholder='Password' class="form-control"/>
						</td>
					</tr>
                    <tr id='addr1'></tr>
				</tbody>
			</table>
		</div>
	</div>
	<a id="add_row" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="pull-right btn btn-default">Delete Row</a>
</div>
   <br>
   <button type="submit" class="btn btn-default">Submit</button>
   </form>

<div>$('form').serializeArray():</div>
<div id=serializearray>asfdg</div>

<div>$('form').serialize():</div>
<div id=serialize>asfdg</div>

{% endblock %}

